body {
    margin: 0;
    padding: 0;
    background: #fff;
    font-family: Arial, Helvetica, sans-serif;
    color: #333;
}

.container {
    display: flex;
}

.panel {
    width: 90px;
    background: #01579B;
    box-sizing: border-box;
}

.controls {
    position: fixed;
    top: 15px;
    left: 15px;
    width: 60px;
}

.controls-group {
    margin-bottom: 10px;
    font-size: 0;
    line-height: 0;
}

.button-control {
    background: #ECEFF1;
    border: 1px solid #90A4AE;
    border-radius: 2px;
    box-sizing: border-box;
    display: inline-block;
    vertical-align: top;
    width: 30px;
    height: 30px;
    font: 14px/28px Arial, sans-serif;
    color: #333333;
    text-align: center;
    cursor: pointer;
}

.button-control:hover {
    background-color: #CFD8DC;
}

.button-control:focus {
    outline: none;
}

.button-control_pressed {
    background-color: #90CAF9;
}

.control-color {
    box-sizing: border-box;
    background-color: #fff;
    border: 1px solid #fff;
    width: 30px;
    height: 30px;
    display: inline-block;
    vertical-align: top;
}

.control-color.current {
    border: 2px solid #000;
}



.canvas-wrapper {
    position: relative;
}

.canvas-draw {
    position: absolute;
    left: 0;
    top: 0;
}

.canvas-pick-area {
    box-sizing: border-box;
    background-color: #29B6F6;
    border: 2px solid #0277BD;
    opacity: 0.4;
    position: absolute;
    left: 0;
    top: 0;
    display: none;
    z-index: -1;
}

.console {
    background: #fff;
    font-size: 12px;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    box-sizing: border-box;
    padding: 10px;
    border-top: 1px solid;
}